{% extends "base.html" %}

{% load static %}

{% block content %}

 <h1>Welcome to Tasks_Tracker <img src="{% static 'task.png' %}" alt="My_task" width="50"> </h1>

    <p>
        <strong>Tasks_Tracker</strong> — это простое и удобное веб-приложение для управления задачами.
        Оно помогает пользователям организовывать свою работу, отслеживать прогресс
        и не забывать о важных делах.
    </p>

    <p>
        С помощью <strong>Tasks_Tracker</strong> вы можете:
    </p>

    <ul>
        <li>создавать новые задачи</li>
        <li>устанавливать приоритет выполнения</li>
        <li>редактировать и обновлять задачи</li>
        <li>отслеживать статус выполнения</li>
        <li>просматривать список всех задач в одном месте</li>
    </ul>

     <p>
        <strong>Tasks_Tracker</strong> подходит как для личного планирования,
        так и для изучения принципов разработки веб-приложений на Django.
    </p>

{% endblock %}
