<nav class="navbar navbar-expand-lg" style="background-color: #e3f2fd;" data-bs-theme="light">
  <div class="container-fluid">
    <a class="navbar-brand" href="{% url 'home' %}">Tasks_Tracker</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
<!--        <li class="nav-item">-->
<!--          <a class="nav-link active" aria-current="page" href="{% url 'home' %}">Домашняя</a>-->
<!--        </li>-->
        <li class="nav-item">
          <a class="nav-link" href="{% url 'task' %}">Задачи</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'user' %}">Пользователи</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'attachments' %}">Вложения</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'create_task' %}">Создать_задачу</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'create_comment' %}">Создать_комментарий</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'create_tag' %}">Создать_тэг</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'create_attachment' %}">Создать_вложение</a>
        </li>
      </ul>

        <div class="d-flex align-items-center">

        {% if user.is_authenticated %}
            <span class="me-2">{{ user.email }}</span>
            <form method="post" action="{% url 'logout' %}" class="d-inline">
            {% csrf_token %}
            <button type="submit" class="btn btn-outline-danger btn-sm">
              Выйти
            </button>
             </form>
        {% else %}
            <a href="{% url 'login' %}" class="btn btn-outline-primary btn-sm">
                Войти
            </a>
        {% endif %}
            </div>


     </div>
  </div>
</nav>